<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Регистрация</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<div th:replace="fragments/header :: header(${user})"></div>

<div class="container mt-4" style="max-width: 400px;">
  <h2>Регистрация</h2>
  <form th:action="@{/auth/register}" method="post">
    <div class="mb-3">
      <input class="form-control" type="text" name="username" placeholder="Логин" required/>
    </div>
    <div class="mb-3">
      <input class="form-control" type="password" name="password" placeholder="Пароль" required/>
    </div>
    <button class="btn btn-success w-100" type="submit">Создать аккаунт</button>
  </form>

  <p class="text-danger mt-2" th:if="${error}" th:text="${error}"></p>
  <p class="text-success mt-2" th:if="${success}" th:text="${success}"></p>
</div>
</body>
</html>
