<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title='Производитель')"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container mt-4">
    <h1 th:text="${title}">Производитель</h1>
    <form th:action="@{/manager/manufacturers/save}" method="post" class="row g-3">
        <input type="hidden" name="id" th:value="${manufacturer.id}" />
        <div class="col-md-6">
            <label class="form-label">Название</label>
            <input class="form-control" name="name" th:value="${manufacturer.name}" />
        </div>
        <div class="col-md-3">
            <label class="form-label">Страна</label>
            <input class="form-control" name="country" th:value="${manufacturer.country}" />
        </div>
        <div class="col-12">
            <label class="form-label">Описание</label>
            <textarea class="form-control" name="description" th:text="${manufacturer.description}"></textarea>
        </div>
        <div class="col-12 mt-3">
            <button class="btn btn-primary" type="submit">Сохранить</button>
            <a th:href="@{/manager/manufacturers}" class="btn btn-link">Отмена</a>
        </div>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
