<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <nav>
        <a href="/conv">Конвертер</a>
    </nav>
    <div class="calculator">
        <h2>Калькулятор</h2>
        <div>
            <form action="/calculate" method="post" style="display: flex; align-items: center; gap: 10px;">
                <div>
                    <input type="number" step="any" id="num1" name="num1" required>
                </div>

                <div>
                    <select id="operation" name="operation" required style="height: 38px;">
                        <option value="+">+</option>
                        <option value="-">-</option>
                        <option value="*">*</option>
                        <option value="/">/</option>
                    </select>
                </div>

                <div>
                    <input type="number" step="any" id="num2" name="num2" required>
                </div>

                <button type="submit" style="height: 38px;">=</button>

                <div th:if="${result}" class="result" style="padding: 8px; background: #f5f5f5; border-radius: 4px;">
                    <span th:text="${result}"></span>
                </div>
            </form>
        </div>

        <div th:if="${error}" class="result" style="background-color: #f8d7da; color: #721c24;">
            Ошибка: <span th:text="${error}"></span>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>