<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать автора</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<h1>Редактировать автора</h1>
<form th:action="@{/authors/edit/{id}(id=${author.id})}" th:object="${author}" method="post">
    <div>
        <label>Имя: <input type="text" th:field="*{name}"/></label>
        <div th:if="${#fields.hasErrors('name')}">
            <span th:errors="*{name}"></span>
        </div>
    </div>
    <div>
        <label>Фамилия: <input type="text" th:field="*{surname}"/></label>
        <div th:if="${#fields.hasErrors('surname')}">
            <span th:errors="*{surname}"></span>
        </div>
    </div>
    <div>
        <label>Отчество: <input type="text" th:field="*{lastname}"/></label>
        <div th:if="${#fields.hasErrors('lastname')}">
            <span th:errors="*{lastname}"></span>
        </div>
    </div>
    <button type="submit">Сохранить</button>
    <a th:href="@{/authors/}">Назад</a>
</form>
</body>
</html>
